<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframeworks.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cintext="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="productdao" class="com.KDB.product.dao.ProductDAOImpl"/>
	<bean id="productbo" class="com.KDB.product.bo.ProductBOImpl">
		<property name="dao" ref="productdao"/>
	</bean>
	
</beans>